<% provide(:head_title, @taxon.name) %>
<% content_for :light_section_word do %>
  <li>
    <a href="#">shop</a>
  </li>
<% end %>

<%= render 'shared/light_section', name: @taxon.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <div class="panel panel-default">
          <div class="panel-heading">商品カテゴリー</div>
          <div class="panel-body">
            <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
              <ul class="nav navbar-nav side-nav panel-info">
                <% @taxonomies.each do |taxonomy| %>
                  <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#data-target-<%= taxonomy.id %>">
                      <%= taxonomy.name %><i class="fa fa-plus"></i>
                    </a>
                    <ul id="data-target-<%= taxonomy.id %>" class="collapse collapseItem">
                      <% taxonomy.taxons.leaves.each do |taxon| %>
                        <li>
                          <a href=<%= potepan_category_path(taxon.id) %>>
                            <i class="fa fa-caret-right " aria-hidden="true"></i><%= taxon.name %>
                            <span id="count-<%= taxon.id%>">（<%= taxon.all_products.count %>）</span>
                          </a>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <%= render 'potepan/categories/category_filter' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <%= render 'potepan/categories/products_filter' %>
        </div>
        <div class="row">
          <% @products.each do |product| %>
            <div class="col-sm-4 col-xs-12">
              <div class="productBox" id="product-info-<%= product.id %>">
                <a href=<%= potepan_product_path(product.id) %>>
                  <div class="productImage clearfix">
                    <% product.images.each_with_index do |image, i| %>
                      <%= image_tag(image.attachment(:large), alt: "products-img") if i.zero? %>
                    <% end %>
                  </div>
                  <div class="productCaption clearfix">
                    <h4><%= product.name %></h4>
                    <h3><%= product.display_price %></h3>
                  </div>
                </a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'potepan/categories/partners_logo' %>

<%= render 'shared/login_modal' %>
<%= render 'shared/signup_modal' %>
