<div class="col-xs-12">
  <div class="page-header">
    <h4>関連商品</h4>
  </div>
</div>
<% products.each do |product| %>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="productBox" id="product_box_<%= product.id %>">
      <%= link_to potepan_product_path(product.id) do %>
        <div class="productImage clearfix">
          <% if product.images.present? %>
            <%= image_tag product.images.first.attachment(:large) %>
          <% else %>
            <%= image_tag "img/products/products-01.jpg" %>
          <% end %>
        </div>
        <div class="productCaption clearfix">
          <h5><%= product.name %></h5>
          <h3><%= product.display_price %></h3>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
