<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2 id="product_name_left"><%= name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li id="link_home_down"><%= link_to "Home", potepan_path %></li>
          <%= yield(:light_section_word) %>
          <li class="active" id="product_name_right"><%= name %></li>
        </ol>
      </div>
    </div>
  </div>
</section>