<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application', async: true %> 
<%= stylesheet_link_tag "application",
    'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>