<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(title: yield(:head_title)) %></title>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <div class="main-wrapper">
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer'%>
    </div>
  </body>
</html>
